<h1>{{#link-to 'index' class="button"}}Dublin Ember{{/link-to}}</h1>
<ul>
  <li>{{#link-to 'articles' class="button"}}Articles{{/link-to}}</li>
  <li>{{#link-to 'pages' class="button"}}Pages{{/link-to}}</li>
  <li>{{#link-to 'users' class="button"}}Users{{/link-to}}</li>
</ul>
{{outlet}}
